[2014-11-25 10:14] hy-brasil opened #2 "Can't use it in production"
Hello,
I have used ember-radio-button in a project and its great.
But when I try to build for the production environment I get
Uncaught Error: Could not find module ember-radio-button/components/radio-button

Is there a way to generate the add-on ?
Or a bower installer?

Thanks

[2014-11-26 13:49] #2 closed, assigned to nobody

[2014-12-09 18:03] knownasilya opened #3 "nested values groupValue doesn't work"
The following allows both radio buttons to be toggled at the same time.

[code]

when `groupValue=leaseTo`, everything works fine.

[2014-12-15 19:53] knownasilya opened #4 "Allow using `required` attribute"
I think this will require setting the `name` attribute to be the same for all radio-button elements, and then you can set it on one

[code]

[2015-01-19 01:24] toranb opened #6 "Why click instead of "change" event?"
I noticed in the component you handle a "click" event but hacking around with my own component for this revealed that you *could* also listen to the change event.

I'm just curious why the team at yapp went with click (ie- is a cross browser thing / mobile browser thing / or just the right thing for the radio button input) ?

Thanks for an awesome OSS project team!

[2015-01-19 05:35] raycohen commented on #4
closed by #5

[2015-01-19 05:35] #4 closed

[2015-01-22 05:30] raycohen commented on #6
Hey @toranb.  I took a shot at restructuring this to use the change event.

If you have a chance, I'd like your feedback on https://github.com/yapplabs/ember-radio-button/pull/7?

Thanks!

[2015-01-23 04:31] toranb commented on #6
Awesome! I was still curious about the question I asked above (ie- why click over change / what should people be doing with the radio button if they are forced to implement it outside of this project for whatever reason) ?

Thanks for the great OSS contributions ! Can't wait to see these merged in!

[2015-01-23 20:59] knownasilya opened #8 "Publish new version ;)"
Would love if you could publish a version with the new required features :smile:

[2015-01-25 21:29] raycohen commented on #8
We've got some significant changes going on in a branch (with an open PR).  A little hesitant to release more versions until we've decided what direction we're going with that PR.  We'd welcome your feedback on #7

[2015-01-25 22:03] raycohen commented on #3
I tried to create a simple example and it worked as expected.  Can you create a jsbin example of the issue?

[2015-01-25 22:51] knownasilya commented on #8
Looks like those changes would require a major version bump, is that correct?

[2015-01-29 16:26] raycohen commented on #8
I just published version 0.1.3

You're right, the changes in that PR will move us to a new major version.

[2015-01-29 16:26] #8 closed

[2015-01-29 17:06] stefanpenner commented on #8
:+1:

[2015-03-31 14:24] raycohen commented on #6
1.0.0 now responds to the `change` event

[2015-03-31 14:24] #6 closed

[2015-03-31 14:25] raycohen commented on #3
@knownasilya can you try this again with recently merged 1.0.0 functionality?

[2015-03-31 18:44] knownasilya commented on #3
@raycohen seems to be working

[2015-03-31 18:44] #3 closed

[2015-04-21 18:38] xcskier56 opened #9 "IE8 Inner content in `<input>` tag causing errors."
The radio button input component is getting a blank text node inserted into it. This is causing IE8 to error. This can be fixed by setting the `defaultLayout` to `null` as referenced [here](https://github.com/emberjs/ember.js/issues/10520).

[2015-04-22 21:47] raycohen commented on #9
merged and released, thanks!

[2015-04-22 21:47] #9 closed

[2015-04-24 13:38] mphasize opened #11 "Install with Ember CLI 2.3 fails"
You can still install this addon with `npm install --save-dev ember-radio-button` and it works like a charm, but recent changes in Ember CLI mean that a little update is needed for the addon install to work again.

Nice component! Thanks for making it public.

[2015-04-24 13:39] raycohen commented on #11
Thanks for reporting. I'll check it out today

[2015-04-25 02:11] raycohen commented on #11
https://github.com/ember-cli/ember-cli/pull/3854

[2015-04-25 02:16] raycohen commented on #11
updated Readme: https://github.com/yapplabs/ember-radio-button/commit/54fce95bebbfa3bf2d86917559193fe8c9db00d7

[2015-04-25 02:16] #11 closed

[2015-04-25 10:28] mphasize commented on #11
Nice!

[2015-04-28 12:18] Maze-fr opened #12 "Run loop buggy behaviour"
Hello,

I found a "non blocking" bug in the run loop (I guess it there). In fact, it blocked my UT... but I found a "work around" fix.
I describe it in the way I made it happen.

I build a model containing a boolean :
[code]
I user my value on a radio button. A radio button can't have boolean values, that's why my validation uses strings.
All this works, the type changes between boolean and string

[2015-04-28 13:54] Maze-fr commented on #12
I reproduced the problem in another way.
This time, it's not only "true / false" radio button, but all the radio buttons that trigger the problem.

In my workflow, I create a new record from an existing one (still same pages as below).
So, here is what I do :

When I do that manualy, it works, no problem.
But when I do that in my UT, as it is automated, it submits the form when "run.next" is still

[2015-04-28 13:59] raycohen commented on #12
Hi @Maze-fr - It sounds like you are using version 0.1.3 (or lower) of ember-radio-button.

We are now on version 1.0.5 and I think some of the changes we made could help with these issues. Are you using htmlbars?  If so, can you try it out with the newer code?

[2015-04-28 14:18] Maze-fr commented on #12
As I checked the version, I noticed a HUGE misstake...
I use ember-radio-button**s**... I am so deeply sorry...

[2015-04-28 14:18] #12 closed

[2015-04-28 14:22] raycohen commented on #12
No problem :)

[2015-05-07 00:36] jakemauer opened #13 "How can I add 'disabled' as a class on the label?"
Like it says on the tin ^

I've tried adding `this.get('classNameBindings').pushObject('disabled');` to the `wrapInLabelIfUsedAsBlock` function to no avail. The disabled state works but it doesn't apply itself to the label like checked does. I still haven't totally wrapped my head around how the component is built out and I'm sure it's something dead simple.

I'm willing to do a PR with tests if t

[2015-05-07 02:50] raycohen commented on #13
I'm definitely interested in having a clean way for users to control what classes show up on the label (and even the input element) in different `disabled` and other states.

I'm curious why what you attempted first did not work... it sounds like it should have.  Asking people to modify the `wrapInLabel...` method is not a good answer to this request.

Let's discuss and see if we can think of a di

[2015-05-07 03:13] jakemauer commented on #13
Here's my fork, the latest commit shows what I added. https://github.com/Allovue/ember-radio-button

[2015-05-07 06:04] jakemauer commented on #13
Okay, I just pushed a new commit over the old one with it working. All I needed to do was add 'disabled' to the classNameBindings in the labeled-radio-button.js.

I've added a test for it as well.

As for a general strategy for altering classes on the label, I'm not sure! It would be handy though.

[2015-05-26 23:09] ericestes opened #15 "Ember 1.13 beta issue? Block template generating inline template's output"
Found this after upgrading from 1.12 to 1.13-beta.2. Basically,

{{#radio-button
    value="blue"
    groupValue=color
    changed="colorChanged"}}
    Blue
{{/radio-button}}

seems to be outputting the same html as

{{radio-button
    value="green"
    groupValue=color
    changed="colorChanged"}}

[2015-05-27 01:32] raycohen commented on #15
Thanks for reporting.  I'll investigate.

In the mean-time, you can use the `labeled-radio-button` component provided by this addon (but not currently documented) in places you were using the block form of `radio-button`.

https://github.com/yapplabs/ember-radio-button/blob/master/addon/components/labeled-radio-button.js

It is re-exported into the `app` tree and should be usable with no other cha

[2015-05-27 15:02] ericestes commented on #15
Yes, using `labeled-radio-button` worked fine.

[2015-05-27 15:04] raycohen commented on #15
Ok.  I'm leaving this issue open while I investigate if the overloaded behavior of `radio-button` is still viable with ember 1.13+

[2015-05-28 13:37] raycohen commented on #15
Some jsbins that help demonstrate the behavior change

Changing layoutName when component is used as a block in ember 1.12
http://emberjs.jsbin.com/zihixaqaxo/2/edit?html,css,js,output

beta (1.13)
http://emberjs.jsbin.com/zihixaqaxo/3/edit?html,css,js,output

[2015-05-28 13:46] raycohen commented on #15
https://github.com/emberjs/ember.js/issues/11301

[2015-06-18 13:45] fsmanuel opened #16 "groupValue and data down, actions up"
In order of the data down, actions up paradigm it would be great to change the behavior of groupValue.
I run into this with a `readOnly` or `reads` computed property where i lost control over groupValue after the first change.

I would suggest to remove this [line](https://github.com/yapplabs/ember-radio-button/blob/master/addon/components/radio-button.js#L43) and let ppl handle the change of the

[2015-06-18 14:17] raycohen commented on #16
that's a breaking change, so we'd either need a version bump or to make it opt-in.  I'm inclined to go opt-in.  Open to a PR that accomplishes that

[2015-06-24 08:09] ermauliks opened #17 "How do I set selected/checked value?"
When I load app (in browser) its not keeping radio-button (by default) value selected. Any work around?

`{{#radio-button checked="checked" class="clusters__size-filter-label" value="size" groupValue=size changed="filterChanged"}} Size {{/radio-button}}`

   ` {{#radio-button class="clusters__size-filter-label" value="volume" groupValue=size changed="filterChanged"}} Volume {{/radio-button}}`

[2015-07-02 20:59] jerel commented on #15
What is the status of this issue? I see that the related Ember issue had a merge and `{{#radio-button}}` works fine in my v1.13.2 app. However I'm getting deprecation notices from the addon: `Accessing 'template' in <my-app@component:radio-button::ember777> is deprecated. To determine if a block was specified...`

[2015-07-02 23:47] btecu commented on #15
There is now `hasBlock` that can be used instead of `template`.

[2015-07-02 23:59] raycohen commented on #15
There will be an update using `hasBlock` soon, but if you want to get rid of deprecations right now you can use `{{#labeled-radio-button}}` in place of `{{#radio-button}}`

[2015-07-03 02:45] jerel commented on #15
`{{radio-button}}` is where the problem code actually lies and the `{{#labeled-radio-button}}` template calls `{{radio-button}}` so switching doesn't fix the issue. Using `{{#radio-button}}` generates twice the deprecation notices because it calls `this.get('template')` internally and also uses `templates/components/labeled-radio-button` :)

I worked on a fix for a bit but it's not obvious to me h

[2015-07-03 03:08] btecu commented on #15
Yes, I switched to `{{labeled-radio-button}}` and I still get the same deprecation.

[2015-07-03 06:04] nesevis opened #19 "Block versions wrap a <label> around the radio button and push a "checked" class on the label, not checked="checked" on the radio button"
Like the topic says. It seems like a roundabout way to do it.

[2015-07-03 14:26] raycohen commented on #19
We are planning implementation changes that rely on `hasBlock`, rather than manually manipulating things inside `wrapInLabelIfUsedAsBlock` as is done now.

I'm not clear if you're also reporting incorrect behavior?  The input created when using a block should have the `checked` property, in addition to the label having a classname `checked`.  Are you seeing different behavior?

[2015-07-05 03:07] nesevis commented on #19
The `<input>` doesn't have a checked property; the only thing that occurs on clicks is that the `checked` class is toggled on where I clicked (and off elsewhere).

[2015-07-06 04:16] raycohen commented on #19
Keeping the `checked` **property** of the `input` element updated is explicitly under test [here](https://github.com/yapplabs/ember-radio-button/blob/master/tests/unit/components/radio-button-test.js#L52) and other places.

I suspect you are expecting the the `checked` **attribute** to be updated (which would be visible in the DOM inspector), which is not done, intentionally.

These links contain

[2015-07-06 04:16] #19 closed

[2015-07-06 04:30] raycohen commented on #17
Sorry for the delayed response.  I think the issue is that we don't support setting the `checked` attribute initially the way you have `checked="checked"` because that will clobber the property that is used internally to track `value` and `groupValue`

What happens if you remove `checked="checked"` ?

[2015-07-08 04:38] raycohen commented on #15
sorry about that.  version 1.0.6, just released, switches to `hasBlock` which should no longer give any deprecations.  Please try it out and let me know if there are any issues!

[2015-07-08 04:38] #15 closed

[2015-07-27 02:21] jorgelainfiesta opened #23 "Enable closure actions?"
Hi,

I'm a big fan of closure actions so I enabled them on my local copy by replacing [line 37](https://github.com/yapplabs/ember-radio-button/blob/master/addon/components/radio-button.js#L37) with `this.attrs['changed'](newValue);` and works great. However I don't know how to handle compatibility for others. So I'm here requesting if closure actions could be enabled on a future release of this ad

[2015-07-27 22:34] raycohen commented on #23
I have an app that currently uses closure actions on a component that internally uses `sendAction`.  I thought they just work?  I know the [1.13 blog post](http://emberjs.com/blog/2015/06/12/ember-1-13-0-released.html) shows using `this.attrs.submit` rather than `this.sendAction('submit')`.  We're on a fairly recent cut of master so maybe that's related.

[2015-07-27 22:38] raycohen commented on #23
Looks like it should work based on this commit https://github.com/emberjs/ember.js/commit/7301768fbb14a4ed8e4202e3c42523f5c95e1c84

[2015-07-27 22:58] jorgelainfiesta commented on #23
You are absolutely right. Sorry, I just thought it wouldn't work given that the blog post proposed a new syntax. Everything works fine.

[2015-07-27 22:58] #23 closed

[2015-08-13 23:22] jordanblink opened #24 "How to Add My own class to {{radio-button}}"
Hi I am trying to add my own class for styling as
 `{{radio-button name="policyControl" class="link-radio" value=true groupValue=brand.ispolicycontrol changed="policyControlChanged"}}`
However the styles don't get reflected in the template..what am I doing wrong?

[2015-08-14 01:44] raycohen commented on #24
In version 1.0.7 we added a `radioClass` property that allows you to specify any classes you want to show up on the input tag.

[2015-08-14 01:45] raycohen commented on #24
So make sure you have 1.0.7 and try this:
[code]
let me know if it works for you

[2015-09-08 04:52] bosworthco commented on #17
Hi, very useful addon! However this doesn't really answer the question.

Is a default 'Checked' state something that is going to be added into the functionality in the future?

[2015-09-08 13:41] raycohen commented on #17
The checked state is computed based on comparing the `value` assigned to the radio-button component and the `groupValue` that is passed in.  When they match, the radio button will be checked.

If that isn't what you want, can you give me more information on the situation you're trying to handle?

[2015-09-30 20:46] cmccand commented on #17
Hi, thanks for making this. Question: if I want to grab the value of the input on the changed action, how do I access it? I'm trying to get it with jQuery and not having success...

Thanks!

[2015-09-30 20:51] raycohen commented on #17
@cmccand When you're handling the `changed` action, the `groupValue` property of the radio button components should be updated with the new value.

[2015-09-30 21:02] cmccand commented on #17
@raycohen Ok, but I'm having trouble getting to the new value at all - for instance, I have the value attribute set to equal the number 30, and the other two buttons are set to 60 and 90, and I need to be able to grab that value and store it...so on the action I'm just trying to console log the value to make sure I know how to get to it...Hope that makes sense (I'm pretty new to this)

[2015-09-30 21:18] raycohen commented on #17
@cmccand if you can share a little of your code, the template file and action handler, I may have an easier time pointing you in the right direction

[2015-09-30 22:19] cmccand commented on #17
I think I have it now, setting the groupValue=value as you said did what I was looking for. Thank you!

[2015-10-01 18:47] #17 closed

[2015-11-18 10:39] miguelcobain commented on #16
@fsmanuel, I think it is time to go full ddau.

Anyone can still keep current behavior using:
[code]

[2015-11-26 08:48] michalhartwich opened #26 "Assertion Failed: You must pass exactly one argument to the if helper"
I'm getting the following error `Assertion Failed: You must pass exactly one argument to the if helper` when I use this example:
[code]
Component without block works fine.

Versions:
[code]

[2015-12-08 20:36] hglattergotz opened #27 "How does this work with dynamic groups of radio buttons?"
I have a variable number of radio button groups in a list.

The only way I can see to handle the change event of a specific group is to give each group a unique value for the `changed` attribute and have a correspondingly named action in the controller.

By not knowing the number of groups or the names up front I don't see how this would work.
I think in my case it would make more sense to have a

[2015-12-30 05:17] lukemelia commented on #24
Silence suggests this is resolved. Please reopen if necessary.

[2015-12-30 05:17] #24 closed

[2016-01-12 23:23] thejase opened #30 "action on click?"
Forgive the ignorance if this is a simple misunderstanding, but how can we attack an action to the label's click?  For my needs, `changed` can be triggered both programatically and with other keyboard methods.  I'd like click to fire a bit differently.

[2016-01-14 23:36] raycohen commented on #30
I think you could create your own component that extends the `labeled-radio-button` component, and add a `click()` method to your subclass, and do what you want from there.  Does that cover your needs?

[2016-01-14 23:48] raycohen commented on #26
Are you using ember-radio-button version `0.1.3` ? That was the last version that supported ember without HTMLBars.  I'm not certain that 0.1.3 supports ember 1.8.1, but it might.

[2016-01-15 19:45] thejase commented on #30
Thank you. That is a great suggestion, and will definitely cover my needs.

[2016-01-15 19:45] #30 closed

[2016-02-11 15:41] solex16 opened #31 "Cannot set groupValue manually"
Use case is I want to reset my radio button's checked status after a user changes it because the form validation fails..
[code]

So direction is originally set to 'right', user changes it to 'left'..
In my changeDirection action the change fails validation, so I execute
`this.set('direction', 'right');`
but this fails to check the 'right' button, as expected?

I notice that if I don't have the cha

[2016-02-11 17:30] raycohen commented on #31
I attempted to make a reproduction of this in the test app and the reset button worked as I expected.  Can you share any more about your situation that might be relevant?

Here is my attempted reproduction code:

component
[code]
template
[code]

[2016-02-15 17:34] solex16 commented on #31
OK, thanks for that feedback..
I think problem might be more to do with the
`<label for="rightDirection">`
where I have
`id="rightDirection" `
set on the radio button..
I have fixed by doing
`this.set('direction', 'right');`
as well as
`$('#rightDirection').prop('checked', true);`

ie I have to set both in Ember and JQuery, whereas if I don't have changed action I can get away with setting just th

[2016-02-23 21:40] tute commented on #27
@hglattergotz how did you solve this issue? I'm facing it right now, and thinking how to best solve it. Thanks!

[2016-02-23 23:01] tute commented on #16
I think a breaking change and major version bump would make sense, in line with Ember guidelines and road ahead. It would be in line with the convention of the ember frameworks to share (major) version numbers, too.

If it were opt-in, where would you expect to see the configuration? How would you name it?

Thank you, @raycohen!

[2016-02-24 11:02] hglattergotz commented on #27
@tute I wrote a custom component

[code]

Template
[code]

Controller
[code]

Hope it helps!

[2016-02-24 14:36] tute commented on #27
Thank you!

[2016-02-24 15:36] raycohen commented on #16
I think bumping the major version to 2 and making DDAU the default behavior is probably the right path at this point.  I am wondering if we can also increase the required ember version to take advantage of some of the newer features and perhaps introduce a `radio-group` component

[2016-02-24 15:38] lukemelia commented on #16
+1 to @raycohen's proposal

[2016-02-24 15:38] #26 closed

[2016-02-24 15:39] raycohen commented on #31
I'm not sure I fully follow what the situation you're encountering is.  If you feel there's something that we can add to this library to help, happy to continue discussing

[2016-02-24 15:39] #31 closed

[2016-02-24 18:44] tute commented on #27
@hglattergotz doesn't your `this.set('groupValue', value);` mutate `item.answer`, violating DDAU, and presenting the same bug? Thanks!

[2016-02-24 18:48] tute commented on #27
Added:
[code]
to the component to fix that.

[2016-02-24 18:56] hglattergotz commented on #27
Cool, thanks!

[2016-02-25 16:58] raycohen commented on #16
feedback on this PR to move towards data-down actions-up is welcome https://github.com/yapplabs/ember-radio-button/pull/32

to understand the concerns raised in the PR description, I recommend playing around with the dummy app.

[2016-03-01 15:48] raycohen commented on #16
I'm inclined to say that like [input helpers](https://guides.emberjs.com/v2.2.0/templates/input-helpers/) the DDAU pattern doesn't fit here because it can result in the DOM being out of sync with what your application logic believes is the current value.

[2016-03-29 05:55] sheriffderek opened #33 "Should there be a 'for' attribute?"
It seems like the label should have it's `for` attribute generated as the input id is.

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label

Any thoughts on that?

[2016-03-29 14:49] raycohen commented on #33
even though the readme doesn't show it, we did add this in https://github.com/yapplabs/ember-radio-button/pull/22

[2016-03-29 14:53] raycohen commented on #33
you need to specify a `radioId` to get that behavior. that value will be used for the label's `for` attribute and the input's `id` attribute

[2016-03-29 15:00] sheriffderek commented on #33
Ah ha. Sorry for the duplicate!

[2016-03-29 15:00] #33 closed

[2016-03-29 15:04] raycohen commented on #33
No problem.  I will add better documentation for that feature

[2016-04-15 22:12] haldiggs opened #35 "How set initial value during render"
I'm simply drawing button in an {{each}} and I'd like to set checked.

if groupValue=color then I had assumed if I draw all the buttons with groupValue="3" then the item with the value eq 3 would be checked, but does not seem to be the case.

[2016-04-21 20:06] haldiggs commented on #35
Still hoping for an answer on this please...

[2016-04-21 20:11] raycohen commented on #35
Your expectation sounds correct so I'm not sure what the disconnect is.

If you checkout this repo and run `ember server` you can interact with the [examples](https://github.com/yapplabs/ember-radio-button/tree/master/tests/dummy/app/templates/examples) and maybe get an idea of what is going on for you.

If you can provide code snippets or anything else that might help me diagnose I'll give it a l

[2016-06-14 19:08] jdhines commented on #35
For me, I have to set the `value` property statically (to whatever value that option should have), and then as long as the property I give to `groupValue` can match the `value` then that option gets checked.

[code]

[2016-09-12 14:36] cbou opened #40 "Changed action is only called when no form tag are present"
If the radio buttons are not inside a form element, the action `changed` will be called only once per radio button.

(EmberJS 2.7)

[2016-09-19 12:03] rmcsharry commented on #13
I have just run into this problem. I don't want the normal 'round' radio buttons, but instead each radio button is a styled label that has an on/off style change. The radio-button itself is display:hidden. It works great except for the fact that I cannot provide a class directly to the label.

It seems that whenever this component builds a radio with a label, the label class is always fixed to:

`

[2016-09-19 14:48] rmcsharry commented on #13
A workaround I have managed for now is to use this idea from the readme:

"When radioId is specified, the label tag's for attribute will also use it."

So I specify the radioId using a bound attribute from the model, which then gives that same value to the label.

Then I can target the label when it is 'checked' like this:
[code]
It means that I need to target all the labels for each of the possib

[2016-09-20 14:38] lukemelia commented on #13
@rmcsharry We would welcome a PR supporting `labelClass`

[2016-09-22 19:32] idautocfator opened #41 "Ability to add tabindex attribute to radio button element"
Crucial for keyboard support and general accessibility.

[2016-10-27 20:52] gauthierm commented on #35
I am having the same problem. I have a static `value` and a dynamic `groupValue` but no radio buttons are checked on rendering the template.

[2016-10-27 21:21] gauthierm commented on #35
Okay, my issue was because my project was using https://github.com/Blooie/ember-radio-buttons which is an entirely different but similarly named ember addon. Disregard my above comment and if you are having the same problem, double check to see what addon you are using.

[2016-11-17 03:17] jbailey4 opened #45 "support usage within engines"
Using this addon within an engine seems to not render the component's template. I'm only seeing the yielded content with no wrapping component elements. Moving the component's templates to the addon directory and setting the `layout` property (today this is the default blueprint of a component by ember-cli) on the component fixes this issue.

[2016-11-19 16:47] twbrandt opened #47 "Error: You cannot use `attributeBindings` on a tag-less component"
After I upgraded from Ember 2.3.1 to 2.9.1, Ember throws the following error whenever a template using the `radio-button` component renders:

[code]

This addon is unusable in 2.9.1 because of this.

[2016-11-19 18:20] raycohen commented on #47
thanks for reporting @twbrandt -  I will look into it

[2016-11-19 18:45] raycohen commented on #47
@twbrandt Can you try upgrading to ember-radio-button to version 1.0.7 (the latest release) and see if this still happens?

We made a change to the way we were using `attributeBindings` a couple releases ago and I think if you're on the latest version it won't raise that error anymore.  Let me know, thanks!

[2016-11-20 15:27] twbrandt commented on #47
@raycohen It still happens on 1.0.7.

[2016-11-21 15:30] twbrandt commented on #47
@raycohen: a thousand apologies - this is my problem, not yours. I am using [data-test-selectors](https://dockyard.com/blog/2015/09/25/ember-best-practices-acceptance-tests) in my components. I have some code which reopens `Ember.Component` which adds `attributeBindings` for `data-test-selector`. This is the source of the error I am seeing. Closing this issue.

[2016-11-21 15:30] #47 closed

[2016-12-28 20:29] #45 closed

[2017-02-08 20:37] jdhines commented on #13
I wanted to do this too, and was thinking I'd have to buckle down and learn about writing add-ons so I could create a PR, but isn't the goal accomplished by just using the non-block form of `radio-button` and wrapping it with an actual HTML `label`?

[2017-02-08 20:44] raycohen commented on #13
@jdhines I think I agree with you but not sure what that code snippet is showing

[2017-02-09 20:43] jdhines commented on #13
@raycohen just showing that if you need a label around the radio with a class, just use an HTML `<label>` rather than using the block format of `radio-button`. Silly obvious now that I think about it; I just get tunnel-vision sometimes as I'm still trying to find my way with Ember.

[2017-03-08 19:40] lepolt opened #52 "<input> field isn't including a correct "value" attribute in the DOM in IE11"
I created a simple Ember.js app with a template that uses an ember-radio-button and noticed that the <input> field in the DOM is missing the "value" attribute. Example can be found here:
https://lepolt.github.io/radio-button-test/

The attached screenshot demonstrates the output as well.
![dom-screenshot](https://cloud.githubusercontent.com/assets/669410/23720390/9172a3e6-040c-11e7-945c-2cc42abc00

[2017-04-19 20:24] #35 closed

[2017-04-24 19:54] Soviut opened #54 "autofocus attribute not supported"
I'd like to be able to set the HTML5 `autofocus` attribute but `autofocus=true` doesn't add the attribute.

[code]

[2017-07-14 16:48] robertsteilberg opened #60 "groupValue not updated on button deselect"
To me, It seems like a critical flaw in this addon is that the groupValue of a radio button is not changed back if it is deselected. For example, if I select radio button A, it's `groupValue` will become `value`, but if I think select radio button B, its `groupValue` will also become `value`. Then, both radio buttons A and B have `groupValue === value`, which means that I can't determine what the

[2017-07-14 16:51] raycohen commented on #60
`value` is expected to be provided differently on each `radio-button` component. Therefore if valueA and valueB are different, you can't have both match the `groupValue`. Maybe this is a documentation issue or a naming issue?

[2017-07-14 16:53] robertsteilberg commented on #60
In the context of my issue, every radio button represents an object, and selecting a radio button will set `field===true` in the corresponding object. Ideally, after the user submits the form, I can iterate through these objects, find the one with `field===true`, and do with it what I want.

[2017-07-14 17:00] raycohen commented on #60
if you're able to make a pull request that adds a simple example to the dummy app inside the addon (like these examples https://github.com/yapplabs/ember-radio-button/blob/master/tests/dummy/app/templates/index.hbs) that would help me diagnose. I can look into this more over the weekend. It sounds like usage that we intend to facilitate.

[2017-07-17 04:04] raycohen commented on #60
I've opened a PR with an example showing passing objects to the `value` and `groupValue` and seeing the behavior I expect. Let me know if this matches the use case you were describing:

https://github.com/yapplabs/ember-radio-button/pull/61

[2017-07-18 14:48] robertsteilberg commented on #60
I think I was misunderstanding how to use the addon. I see now that the value of `selectedColorObject` will indicate which object was ultimately selected by the user. Though it's my own fault for overlooking the assumption that `value` is expected to differ among each invocation of the component (which in hindsight is glaringly obvious) it may be a good idea to make a note of this on the README.

[2017-09-28 02:33] myartsev opened #64 "Allow specifying a label using inline invocation"
Currently, it is not possible to specify a label using inline invocation.

[code]

What do you think about adding a _label_ attribute? Or if none is specified using the _value_ attribute as the label? Perhaps I am not seeing the use case, but I haven't come across a need for a label-less radio button.
[code]

[2017-09-29 11:58] raycohen commented on #64
why doesn't using the block form suit your needs?

[2017-10-02 06:26] myartsev commented on #64
The block form does of course work; but does anyone use the inline form as it is currently? Just seems incomplete.

[code]

[2017-10-05 09:46] Paskalouis opened #65 "CRUD : Edit does not retain previous value"
Hi All,

On my app, I have Create, which function normally. It saves value to my database.

Then on edit, the radio button of the same value is not 'checked'.
I want to add attr checked="checked" on initial state, but it seems nothing changed.

Thank you

EDIT : Or this issue may equal to, 'How to make radio button checked by Jquery manually ? Because it adding checked attribute does not change an

[2017-10-10 16:23] Artmann commented on #16
I've added https://github.com/yapplabs/ember-radio-button/pull/66 which solves this issue

[2017-10-15 01:57] raycohen commented on #64
the inline form is provided for use cases where more control is needed. it intentionally does less than the block form

[2017-10-15 01:57] #64 closed

[2017-10-15 03:21] raycohen commented on #54
version 1.2.0 supports `autofocus`

[2017-10-15 03:21] #54 closed

[2017-10-15 03:22] raycohen commented on #41
version 1.2.0 supports `tabindex`

[2017-10-15 03:22] #41 closed

[2017-11-23 05:02] 85636682 commented on #65
i have the same problem

[2017-11-28 16:30] raycohen commented on #65
an ember radio button will be in a checked state when the `value` and `groupValue` props are equal. Manually setting the checked attribute after the component mounts with jquery or some other method is not supported.

[2018-01-29 15:05] jacobq opened #76 "Upgrade ember-cli-htmlbars to remove deprecation warning"
The current release (1.2.1) triggers an annoying deprecation warning w/ recent versions of Ember that would be fixed by upgrading to the latest release of `ember-cli-htmlbars` (2.x). Please consider upgrading [this](
https://github.com/yapplabs/ember-radio-button/blob/db3c183e0a09c7af112ae1a902bca1b3ee42f14b/package.json#L24).

[code]

The deprecation warning looks like this and is described [here

[2018-02-12 02:44] raycohen commented on #76
where does the deprecation warning show up? can you give me a little more info on how exactly to reproduce this?

[2018-02-12 11:48] jacobq commented on #76
Good question. The warning shows up on the console during build time (e.g. `ember s`) I will take a shot at posting reproduction steps later today. I thought it would show up just from installing and running on an empty project but a quick test showed otherwise.

[2018-02-13 19:43] thomblake commented on #76
I am also encountering this one.

[2018-02-19 14:33] bgantzler opened #80 "Question: What is this syntax in render of a test"
I saw this syntax in the radio-button-test. What does the tilde do?
[code]

[2018-02-19 14:58] raycohen commented on #80
I believe they remove whitespace, such that the text node contains "Blue" and not something like  "\n   Blue\n  "

[2018-02-19 15:01] raycohen commented on #80
See "whitespace control" http://handlebarsjs.com/expressions.html

[2018-02-20 02:49] raycohen commented on #60
closing as we've given the README an overhaul

[2018-02-20 02:49] #60 closed

[2018-03-06 16:39] bgantzler commented on #80
I cant believe I didn't know about this. Seems like something that should be used more often.

Thanks

[2018-03-06 16:39] #80 closed

[2018-06-17 11:18] lougreenwood opened #83 "aria-checked not used?"
Hello :)

Is there any particular reason that the `aria-checked` attribute isn't set on the radio `input` element?

https://www.w3.org/TR/2017/WD-wai-aria-practices-1.1-20170628/examples/radio/radio-1/radio-1.html

[2018-07-03 20:41] #83 closed

[2018-07-13 00:59] ChrizzDF commented on #35
Hi guys 😃
I fell into the same problem and I solved it using [`ember-promise-helpers`](https://github.com/fivetanley/ember-promise-helpers), so in my template:
[code]

Maybe it's helpful for anyone of you! 😎

[2018-09-19 13:30] Sinled opened #85 "Replace sendAction with closure actions"
In latest ember (3.4+)
using `sendAction` results deprecation warning [[deprecation id: ember-component.send-action]](https://github.com/emberjs/rfcs/blob/master/text/0335-deprecate-send-action.md)

[2018-10-16 15:35] injaon commented on #85
This would be very useful. +1

[2018-11-09 15:38] BillyRayPreachersSon commented on #85
We're also seeing a lot of these in our application since upgrading to 3.4 LTS.

Would updating to use closure action and revving to 2.0.0 be a workaround for those still on Ember < 1.13 to avoid a breaking change?

[2019-01-23 19:36] benkiefer commented on #85
Any update on this? Thanks for all the work on this.

[2019-02-05 19:19] aandis commented on #85
+1

[2019-03-11 15:58] raycohen commented on #85
update merged, release forthcoming. thanks to @tomoguisuru

[2019-03-14 19:40] benkiefer commented on #85
Any update on when the release might be?

[2019-03-17 15:48] raycohen opened #91 "Remove `labeled-radio-button`"
`labeled-radio-button` was introduced before the block form of `radio-button` came along and made it unnecessary. It has not been documented in the readme since version `1.0.0`: b1eedaccf871fb16f0bc091a4a7043cddf40873e

[2019-03-17 15:51] raycohen commented on #85
Version 1.3.0 is released and includes support for _passing_ a closure action to a `radio-button` - see examples in the updated README.

Version 1.3.0 does _not remove sendAction deprecation warnings_ because it still uses `sendAction` internally, even when a user passes a closure action.

[2019-03-17 16:04] raycohen commented on #13
Closing as I believe updates to the README help show that you can use the non-block form of `radio-button`, and then you can have full control over your own `label` element

[2019-03-17 16:04] #13 closed

[2019-03-17 17:35] benkiefer commented on #85
Any chance we can get a 2.0 that kills the deprecation warnings too?

[2019-03-23 05:05] #91 closed

[2019-03-23 19:20] raycohen commented on #85
version 2.0 [has been released](https://www.npmjs.com/package/ember-radio-button)

[2019-03-23 19:20] #85 closed

[2019-04-12 20:18] #65 closed

[2019-05-10 09:43] pRatikSathaye opened #98 "How do I add data attributes to radio-button ?"
I want to use data-test-selectors and for that purpose I wanted to add data attributes to my radio button.
I tried adding some data attributes but they did not work.

[2019-05-14 00:25] raycohen commented on #98
We don't currently have a good way to support `data-test` attributes directly on the input element. I would recommend putting a data-test attribute on an ancestor and then using something like `[data-test-my-ancestor] input[type=radio]`

[2019-06-30 19:57] shankarsridhar commented on #98
Hello @raycohen 😃
I am also running into the same issue in my applications, and I find it more less than ideal and, more like a workaround to be adding data-* attributes to the parent and referring the child element(i.e. radio-button).

I'll be happy to send a PR for adding this enhancement. I was thinking of adding a new property, say `dataAttributes` which accepts an hash of data-* key/value pai

[2019-08-08 12:58] barryofguilder commented on #98
I would love to see support for `data-*` attributes on this!

[2019-10-01 20:18] alexlafroscia commented on #98
What would really be nice is if the components supported attribute forwarding (AKA splattributes, `...attributes` in the template).

Depending on the Ember version support matrix and the tolerance for either providing or requiring a polyfill, that would allow you to add whatever attribute you want to a `<RadioButton />` component and have the attributes passed along to the underlying `input`.

[2020-05-10 21:13] allthesignals commented on #98
Hmm know any addons that use this kind of polyfill? I'm running into this and would like to submit a PR.

I'd try out a local workaround, but it doesn't sound like this is [extensible](https://github.com/yapplabs/ember-radio-button/pull/87).

[2020-07-11 19:35] seemajune opened #101 "make keyboard navigable according to WCAG-A"
Currently, in order to select from a group of these radio buttons, the user has to use the spacebar key. In order to navigate between selectable buttons, the user has to use the tab key.

These actions are WCAG non-compliant- tab should take you to the next focusable element after the radio group. Users should be able to use the up, down, right and left arrow keys to select an item in a radio grou

[2021-01-13 15:46] lougreenwood commented on #98
Any progress on this? Seems it's not possible to apply a modifier to the radio button

[2021-03-29 19:39] esbanarango opened #102 "DEPRECATION: `hasBlock` is deprecated. Use `has-block` instead."
**DEPRECATION:**

`hasBlock` is deprecated. Use `has-block` instead. ('ember-radio-button/templates/components/radio-button.hbs' @ L1:C6)  [deprecation id: has-block-and-has-block-params] See https://emberjs.com/deprecations/v3.x#toc_has-block-and-has-block-params for more details.

[2021-05-20 08:38] Benjy1979 opened #104 "Where is Version 3 for Ember. 3.16? on EmberObserver?"
The link to Ember Observer seems not to have a version 3 for Ember 3.16+ as stated on the ReadMe.md. My radio buttons seem to have no labels now after updating to Ember 3.26

[2021-05-20 08:49] #104 closed

[2021-05-20 08:50] Benjy1979 commented on #104
I have closed this because after removing it and reinstalling 2.0.1 they reappeared.

[2021-07-05 00:39] gilest commented on #102
Believe this can be closed as it was fixed in #103

[2021-08-16 00:23] gilest commented on #102
@lukemelia

Also, would it be possible to issue a new release 🙇

[2021-10-15 13:03] johanrd commented on #102
@GabrielCousin @lukemelia If you have the chance to release a new version, this can be closed. Currently the latest released version is 2 years old. thanks!

[2021-10-15 15:47] GabrielCousin commented on #102
Hi! Unfortunately I can't help with releasing, I can only confirm we've been using the latest commit from master for a while and it works correctly. As a reminder, there is [this breaking change](https://github.com/yapplabs/ember-radio-button/pull/103#issuecomment-875332592).

[2021-11-30 11:32] skaverg opened #109 "Trying to upgrade to newer version"
Was trying to upgrade ember - not able to get the latest version of ember-radio-button. The package.json of ember-radio-button mentions version as 0.0.0 and we have 2.0.1. How to get the latest version?

[2022-01-05 03:45] nsharrok opened #110 "multiple depreciations detected in 2.0.1"
Why am I getting these depreciations?
ember-radio-button@2.0.1 is the version I am using.
I am using Ember 3.28

The `checked` property path was used in the `ember-radio-button/templates/components/radio-button.hbs` template without using `this`. This fallback behavior has been deprecated, all properties must be looked up on `this` when used in the template: {{this.checked}}

The `joinedClassNames

[2022-02-24 14:25] barryofguilder opened #114 "`aria-checked` not being set on `master` branch"
I upgrade my Ember app to use the latest commit on the `master` branch of `ember-radio-button` to remove all the deprecation warnings. It seems that the latest code on the `master` branch no longer sets the `aria-checked` attribute.

[code]

I've reproduced this issue with both an Ember 3.28 app as well as a 4.1 app.

[2022-02-24 14:38] barryofguilder commented on #114
I created PR https://github.com/yapplabs/ember-radio-button/pull/115 to add the test assertions to show that they are currently failing to set the `aria-checked` attribute.

[2022-03-01 07:52] runspired opened #116 "Changes on master have not yet been released"
Latest released version is 2.0.1. Changes on master would fix many deprecations.

[2022-03-04 15:26] barryofguilder commented on #114
I'm wondering if when using the radio button without the yielded content, it should be setting the `@checked` argument of the component rather than the `checked` HTML attribute of the underlying `input` field.

See: https://github.com/yapplabs/ember-radio-button/blob/74036d5cade335c19d4d61439c6ea7d90eee288c/addon/components/radio-button.hbs#L30

[2022-03-10 23:57] gilest commented on #116
Agree – @lukemelia would it be possible to cut a release? 🙇🏻

[2022-03-11 00:49] runspired commented on #116
I tested latest master in our app and it was broken, might be worth adding some tests and doing some debugging before releasing.

[2022-03-11 01:49] gilest commented on #116
What was broken? Just migrated an app from `ember-radio-buttons` to latest `master` and didn't have any issues.

[2022-03-11 07:10] runspired commented on #116
@gilest groups of buttons no longer worked at all, they acted independently and their actions wouldn't fire.

[2022-05-04 05:54] vmoglan commented on #116
Any update of an ETA for the 3.X release? Thank you.

[2022-05-30 17:32] Gorzas commented on #104
I'm having the same issue. Version 3 doesn't appear in Ember Observer neither in NPM, it also there isn't a tag for version 3. Can we reopen this ticket?

[2022-05-30 17:38] Benjy1979 commented on #104
Hi, I fixed all woes by uninstalling "ember-radio-button" and installing "ember-radio-buttons" instead.

[2022-05-30 17:51] lukemelia commented on #116
I'm happy to cut a release but need help confirming or fixing master's functionality.

[2022-05-31 07:36] Benjy1979 commented on #104
Yes it is a different repository. I didn't bother even looking whether it's using Glimmer. Only that the projects runs and life can move forward. But of course feel free to keep this thread updated of alternative solutions!

[2022-05-31 09:54] vmoglan commented on #116
@lukemelia Just tested latest master on our project... nothing seems wrong. Works as expected. Am I missing something?

[2022-05-31 14:10] vmoglan commented on #116
Thanks a lot, much appreciated!!

[2022-05-31 22:34] lukemelia commented on #116
Released as https://github.com/yapplabs/ember-radio-button/releases/tag/v3.0.0-beta.0

[2022-05-31 22:35] lukemelia commented on #116
Please give it a whirl and let me know if it is working for you.

[2022-06-01 10:44] vmoglan commented on #116
@lukemelia Just added this last update to our project. So far so good, tested a few of the places we're using radio buttons in, nothing out of the ordinary so far, no errors, no warnings. Passed it on to our QA to have a deeper look.

[2022-06-01 12:46] lukemelia commented on #116
Thanks for the update @vmoglan. Keep us posted here.

[2022-06-01 18:33] runspired commented on #116
I'm no longer working on the project I had issues with so can't retest, though I'm starting to have a theory that it might have been due to either usage of string actions or a yarn bug that can happen when installing from a GitHub url.

[2022-06-01 18:49] lukemelia commented on #116
@runspired 👍  Thanks for following up.

[2022-06-03 12:48] vmoglan commented on #116
@lukemelia perhaps my last update, QA ran automated + manual tests and everything worked as expected. I think this may be good to go.

[2022-06-22 11:03] Benjy1979 commented on #116
Hi, how do I install version 3

[2022-06-22 11:12] vmoglan commented on #116
@Benjy1979 I think `ember install ember-radio-button@3.0.0-beta.0` should do

[2022-06-22 13:44] Benjy1979 opened #125 "groupValue Documentation a bit confusing"
The readme.md says

`groupValue | any | the value representing a radio group's current value. supply the same groupValue to every radio-button in a group`

I'm not sure what this means. It sounds like you send what would normally be "name" but then fetch groupValue to get the currently selected value?
Can more documentation be put in to explain how you fetch the selected value?

[2022-07-04 03:08] lukemelia commented on #125
This addon follows a data-down, actions-up approach, so you pass the current value of the radio button group into each button as `groupValue` and receive the `changed` action when a radio button is changing value by virtue of someone clicking it.

I'm happy to accept a PR that improves the documentation.

[2022-08-23 15:23] jkallman commented on #116
I've been using `3.0.0-beta.0` in my app (Ember 4.6) and haven't run into any issues yet. Are there any remaining steps before the official release of `3.0.0`?